<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "/images/favicon.png" %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "/css/font.css" %}">
    <link rel="stylesheet" href="{% static "/css/xadmin.css" %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "/js/xadmin.js" %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">


    <div class="layui-form-item">
        <label class="layui-form-label">
            学员姓名:
        </label>

        <label class="layui-form-label">
            {{ student_info.name }}
        </label>

    </div>

    <div class="layui-form-item">

        <label class="layui-form-label">
            学生性别:
        </label>
        <label class="layui-form-label">
            {{ student_info.gender }}
        </label>


    </div>


    <div class="layui-form-item">

        <label class="layui-form-label">
            入学时间:
        </label>


        <div class="layui-form-label">

            {{ student_info.entrance_time }}

        </div>

    </div>

    <div class="layui-form-item">
        <label for="school_name" class="layui-form-label">
            所在小学:
        </label>

        <div class="layui-form-label ">
            {{ student_info.school.school_name }}
        </div>

    </div>


    <div class="layui-form-item">
        <label for="class_id" class="layui-form-label">
            班级
        </label>

        <label for="class_id" class="layui-form-label">
            {{ student_info.class_name }}
        </label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">
            联系方式:
        </label>

        <label class="layui-form-label">
            {{ student_info.phone }}
        </label>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">所在班次</label>
        <label class="layui-form-label">
            {{ student_info.course.name }}
        </label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">班次任课教师</label>
        <label class="layui-form-label">
            {{ student_info.course.teacher.name }}
        </label>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">任课教师联系电话: </label>
        <label class="layui-form-label">
            {{ student_info.course.teacher.phone }}
        </label>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">班次地点</label>
        <label class="layui-form-label">

            {{ student_info.course.class_field.name }} - {{ student_info.course.class_field.school.school_name }}

        </label>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">班次时间</label>
        <label class="layui-form-label">

            {{ student_info.course.time }}

        </label>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">
            报名时间:
        </label>

        <label class="layui-form-label">
            {{ student_info.register_date }}
        </label>

    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">
            备注
        </label>

        <label class="layui-form-label">
           {{ student_info.remark }}
        </label>

    </div>

</div>


</body>

</html>