<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>

    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "/images/favicon.png" %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "/css/font.css" %}">
    <link rel="stylesheet" href="{% static "/css/xadmin.css" %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "/js/xadmin.js" %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<br>


<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>

<br class="x-body">


<div class="layui-row">


    <form class="layui-form  x-so">


        <label class="layui-label">&nbsp;&nbsp;班级名:&nbsp;&nbsp; </label>
        <input type="text" name="class_name" placeholder="请填写班级名称" value=""
               autocomplete="off" class="layui-input" lay-verify="required">

        <label class="layui-label">班级所在校区:&nbsp;&nbsp;</label>
        <div class="layui-input-inline">
            <select name="school_id" lay-verify="required">
                {% for school in schools %}
                    <option value={{ school.id }}>{{ school.school_name }}</option>
                {% endfor %}

            </select>

        </div>

        <label class="layui-label">&nbsp;&nbsp;座位数: &nbsp;&nbsp;</label>
        <input type="number" name="places" placeholder="请填写班级的座位数" value="40"
               autocomplete="off" lay-verify="required" class="layui-input">

        <label class="layui-label">&nbsp;&nbsp;备注: &nbsp;&nbsp;</label>
        <input type="text" name="remark" placeholder="备注信息" value=""
               autocomplete="off" class="layui-input">

        <button class="layui-btn" lay-filter="add" lay-submit="">添加<i class="layui-icon"></i>

        </button>


    </form>


    <form class="layui-form  x-so" METHOD="get" ACTION="/get_students/" accept-charset="UTF-8">


        <label class="layui-label">&nbsp;&nbsp;班级名:&nbsp;&nbsp; </label>
        <input type="text" name="school_name" placeholder="按照班级名查询" value="{{ search_params.school_name__contains }}"
               autocomplete="off" class="layui-input">

        <label class="layui-label">班级所在校区:&nbsp;&nbsp;</label>
        <div class="layui-input-inline">
            <select name="course_id" lay-verify="required">
                {% for school in schools %}
                    {% if school.id == search_params.school_id %}
                        <option selected value={{ school.id }}>{{ school.school_name }}</option>
                    {% else %}
                        <option value={{ school.id }}>{{ school.school_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>


        <label class="layui-label">&nbsp;&nbsp;备注: &nbsp;&nbsp;</label>
        <input type="number" name="phone" placeholder="按备注信息查询" value="{{ search_params.phone__contains }}"
               autocomplete="off" class="layui-input">

        <button class="layui-btn" lay-filter="sreach">查询<i class="layui-icon"></i>
        </button>


    </form>


</div>
</div>

<xblock>
    <button class="layui-btn layui-btn-danger" onclick="del_all()"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="x_admin_show('添加用户','./admin-add.html')"><i class="layui-icon"></i>打印显示班级信息
    </button>
    <span class="x-right" style="line-height:40px">共有数据：{{ total }}条</span>
</xblock>


<table class="layui-table">
    <thead>
    <tr>
        <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i
                    class="layui-icon">&#xe605;</i></div>
        </th>
        <th>班级号</th>
        <th>班级名</th>
        <th>座位数</th>
        <th>所在校区</th>
        <th>备注</th>
        <th>操作</th>
    </thead>
    <tbody>
    {% for classroom in classrooms %}
        <tr>

            <td id="check">
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ student.id }}'><i
                        class="layui-icon">&#xe605;</i>
                </div>
            </td>
            <td id="id"> {{ classroom.id }}</td>
            <td id="name">{{ classroom.name }}</td>
            <td id="places">{{ classroom.places }}</td>
            <td id="school">{{ classroom.school.school_name }}</td>
            <td id="remark">{{ classroom.remark }}</td>
            <td class="td-manage">
                <a title="编辑" onclick="x_admin_show('编辑','/admin_student_edit/{{ student.id }}')" href="javascript:;">
                    <i class="layui-icon">&#xe642;</i>
                </a>
                <a title="删除" onclick="member_del(this,{{ student.id }})" href="javascript:;">
                    <i class="layui-icon">&#xe640;</i>
                </a>
            </td>

        </tr>

    {% endfor %}
    </tbody>
</table>

<div class="page" id="page">

</div>

</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });
    });

    layui.use('laypage', function () {

        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({

            elem: 'page'
            , count: {{ total }}
            , limit: {{ limit }}
            , curr: {{ index }}
            , jump: function (obj, first) {

                if (!first) {

                    window.location.href = '/admin_classroom/' + obj.curr;

                }


            }

        })


    })


    /* 用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {

            console.log('要删除的id->' + id)


            $.ajax({

                'type': 'get',
                'url': '/del_student/' + id,
                'success': function (data) {

                    if (data.result == 'success') {
                        //发异步删除数据
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!', {icon: 1, time: 1000});
                        refresh()
                    } else {

                        layer.msg('删除失败!', {icon: 1, time: 1000});
                        refresh();

                    }
                }

            })

        });
    }

    /* 批量删除 */
    function del_all(argument) {

        var data = tableCheck.getData();

        var json = JSON.stringify(data)

        layer.confirm('确认要删除吗？' + data, function (index) {
            //捉到所有被选中的，发异步进行删除


            $.ajax({

                'url': '/del_students/',
                'type': 'post',
                'data': json,
                'success': function (data) {


                    if (data.result == 'success') {

                        $(".layui-form-checked").not('.header').parents('tr').remove();
                        layer.msg('删除成功', {icon: 1});
                        refresh()

                    } else {

                        layer.msg('删除失败', {icon: 2});
                        refresh()
                    }


                }

            })


        });
    }


    /* 刷新当前页*/
    function refresh() {

        location.replace('/admin_classroom/1')

    }


    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            console.log('打印开始')
            console.log(data);
            console.log('打印结束')
            //发异步，把数据提交给php
            var json_student_info = JSON.stringify(data.field);

            $.ajax({
                type: 'post',
                url: '/admin_add_classroom/',
                contentType: 'application/json;charset=utf-8',
                data: json_student_info,
                success: function (data) {

                    if (data.result == 'success') {

                        layer.alert("增加成功", {icon: 6}, function (index) {

                            layer.close(index)
                            refresh()
                        });

                    } else {

                        layer.alert("增加失败", {icon: 5}, function (index) {

                            layer.close(index)


                        });

                    }

                }

            })

            return false;
        });


    });


</script>
</body>

</html>