<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "/images/favicon.png" %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static "/css/font.css" %}">
    <link rel="stylesheet" href="{% static "/css/xadmin.css" %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "/lib/layui/layui.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "/js/xadmin.js" %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-body">
    <form class="layui-form">

        <div class="layui-form-item">
            <label for="student_name" class="layui-form-label">
                <span class="x-red">*</span>学员姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="student_name" name="student_name" required="" lay-verify="required"
                       autocomplete="off" value="{{ student_info.name }}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">

            <label for="sex" class="layui-form-label">
                <span class="x-red">*</span>学生性别
            </label>

            <div id="sex" class="layui-input-inline">


                <input type="radio" name="sex" value="男" title="男" {% if student_info.gender == '男' %}

                       checked

                {% endif %}>


                <input type="radio" name="sex" value="女" title="女"  {% if student_info.gender == '女' %}

                       checked

                {% endif %}>

            </div>


        </div>
        <div class="layui-form-item">

            <label for="entrance_time" class="layui-form-label">
                <span class="x-red">*</span>入学时间
            </label>

            <div class="layui-input-inline"> <!-- 注意：这一层元素并不是必须的 -->
                <input type="text" class="layui-input" id="entrance_time" name="entrance_time" lay-verify="date"
                       value="{{ student_info.entrance_time }}"
                       required="">
            </div>

            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>请填写入学时间
            </div>

        </div>

        <div class="layui-form-item">
            <label for="school_name" class="layui-form-label">
                <span class="x-red">*</span>所在小学
            </label>


            <div class="layui-input-inline">
                <select id="school_name" name="school_name" lay-search lay-verify="required">

                    <option value=""></option>

                    {% for school in schools %}

                        <option {% if school.id == student_info.school_id %}

                            selected

                        {% endif %}

                            value={{ school.id }}> {{ school.school_name }}</option>

                    {% endfor %}
                </select>


                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>请填写小学就读的学校，相同小学请保持唯一名称
                </div>

            </div>


            <div class="layui-form-item">
                <label for="class_id" class="layui-form-label">
                    <span class="x-red">*</span>班级
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="class_id" name="class_id" required=""
                           lay-verify="number" value="{{ student_info.class_name }}" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    <span class="x-red">*</span>联系方式
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                           value="{{ student_info.phone }}" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所在班次</label>
                <div class="layui-input-inline">
                    <select name="course_id" lay-verify="required">


                        {% for course in courses %}

                            <option {% if course.id == student_info.course_id %}

                                selected

                            {% endif %}

                                value={{ course.id }}> {{ course.name }}</option>

                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="layui-form-item">

                <div class="layui-form-item layui-form-text">
                    <label for="remark" class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                    <textarea id="remark" name="remark" placeholder="请输入内容"
                              class="layui-textarea">{{ student_info.remark }}</textarea>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    修改
                </button>
            </div>

    </form>
</div>
<script>
    layui.use(['form', 'layer'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;

        //监听提交
        form.on('submit(add)', function (data) {
            console.log('打印开始')
            console.log(data);
            console.log('打印结束')

            data.field.student_id =
            {{ student_info.id }}
            var json_student_info = JSON.stringify(data.field);


            $.ajax({
                type: 'post',
                url: '/admin_stu_edit_handle/',
                contentType: 'application/json;charset=utf-8',
                data: json_student_info,
                success: function (data) {

                    console.log(data)
                    console.log(data.result)

                    if (data.result == 'success') {


                        layer.alert("修改成功", {icon: 1}, function (index) {

                            layer.close(index)

                        });
                    } else {
                        layer.alert("修改失败", {icon: 2}, function (index) {

                            layer.close(index)

                        });

                    }


                }

            })

            return false;
        });


    });


    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#entrance_time' //指定元素
        });
    });

</script>

</body>

</html>